@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
    0% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    33% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    66% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}
  ::-webkit-scrollbar {
    width: 0.2em;
  }


  ::-webkit-scrollbar-thumb {
    background-color: #8b5cf6;
    height: 0.2em;
    border-radius: 1em;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #6d28d9;
  }
